<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title>To Do List</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="toDoModule" ng-controller="toDoController">
	<h1>To Do List</h1>
	
	<div class="list" id="appointments">
		<h2>Appointments</h2>
<!-- Add Appointment Input	-->
		<input type="text" ng-model="appt.name" placeholder="Event" id="event">
		<button type="button" ng-click="addAppt(appt)">+</button><br>
		<input type="text" ng-model="appt.date" placeholder="MM/DD" id="date">
		<input type="datetime" ng-model="appt.time" placeholder="Time" id="time">
<!-- Display Appointments	-->
		<div ng-repeat="appt in apptList" >
			<p ng-dblclick="removeAppt($index)"> &#8212; {{appt.date}} {{appt.name}} {{appt.time}}</p>
		</div>	
	</div>


	<div class="list" id="tasks">
		<h2>Tasks</h2>
<!-- Add Task Input	-->
		<input type="text" ng-model="task.name" placeholder="Task" id="task">
		<button type="button" ng-click="addTask(task)">+</button>
<!-- Display Tasks	-->
		<div ng-repeat="task in taskList">
			<p ng-click="strick($task)" ng-dblclick="removeTask($index)">&#9744; {{task.name}}</p>
		</div>
	</div>
	
<!-- AngularJS	-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- My Script	-->
	<script src="script.js"></script>
</body>
</html>